@media screen and (min-width: 320px) and (max-width: 479px) {
    body {
        background-color: black;
      }
      .menu-icon-img img {
          width: 46px;
      }
      .bg-dark {
          background-color: #000 !important;
      }
       .menu-icon-img {   width: 38px}
   
   
       .navbar {
      box-shadow: -1px 1px 14px 0px #00bFF0;
   
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1030;
       }
       .navbar-name {
      /* font-family: cinzel; */
      font-size: 1.2rem;
      color: #F23580;
       }
       .navbar-dark .navbar-toggler {
      color: rgba(255,255,255,.5);
      border-color: #000;/* border-color: rgba(255,255,255,.1); */
       }
       .navbar-nav .nav-item .nav-link {
      font-weight: 500;
      font-size: 1.1rem;
      color:#6e7175; /* Default link color */
      transition: color 0.3s; /* Add a smooth transition for color change */
       }
       .navbar-nav .nav-item .nav-link:hover {
      color: #00BFF0; /* Change the color to your desired hover color */
       }
    
       .h1, h1 {
        font-size: 1.4rem;
        color: #F23580;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .h2, h2 {
        padding: 6%;
        font-weight: 500;
        color: #00BFF0;
        font-size: 1rem;
    }
   
       .h3, h3 {
           /* padding: 6%; */
       font-weight: 500;
       font-family: cinzel;
       font-size: 2.5rem;
       margin-top: 8%;
       color: #F23580;
       padding-bottom: 6%;
   }
      
   
   
   
       .h5, h5 { color: #F23580;
       font-weight: 500;
       font-size: 1.8rem;
       }
       .row {
       font-size: 1rem;
       padding: 8%;
       color: white;
       }
       
       .row-1 {
        margin-top: 24%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        background-color: rgb(39 37 37 / 62%);
        padding: 6%;
        color: white;
    }
    
       .col-md-2 {
        /* margin-left: 42%; */
        background-color: #80808038;
        padding: 34px;
        display: flex;
        -ms-flex: 0 0 16.666667%;
        border-radius: 1.3rem;
        box-shadow: -1px 1px 14px 0px #00bFF0;
        flex-direction: column;
        align-content: flex-end;
    }
    
       .col-md-6-{
       background-color: #80808038;
           padding-bottom: 4%;
           font-weight: 500;
           font-size: 1.4rem;
           color: #00BFF0;
           width: 50%;
       }  
 
       
 
      .col-md-6.protopersona.img img{width: 86%;
       
      }
     
  
       .col-md-8 iframe {
        width: 100%;
        padding: 2%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
   
       .row-5 {
           font-size: 1.2rem;
           font-weight: 500;
           margin-right: auto;
           margin-left: auto;
      padding: 6%;
           color: #65cbf9;
           width: 86%;
           text-align: center;
       }
       .row-6 {
           padding: 6%;
           color: white;
           display: flex;
           /* padding-top: 16%; */
           /* flex-direction: row; */
           justify-content: space-between;
       }
     .row-6-2 {
        padding: 6%;
        color: white;
     }
    
     .horizontal-scroll-container {
        margin-top: 58%;
        border-radius: 16px;
        padding: 4%;
        /* margin-right: auto; */
        /* margin-left: auto; */
        /* width: 99%; */
        display: flex;
        /* overflow-x: auto; */
        white-space: nowrap;
        scrollbar-width: thin;
        scrollbar-color: #888 #f0f0f0;
        /* box-shadow: -1px 1px 14px 0px #00bFF0; */
    }
       .horizontal-scroll-container img {
           margin-top: -330px;
           /* padding: 4%; */
           max-width: 139%;
           /* height: auto; */
           /* margin-right: 10px; */
       }
       
      
       .row-7 {
           padding: 6%;
           font-size: 1rem;
       }
       
       .row-7 p {
          
               color: white;
               padding: 2%;
           }
       .row-8 {
           padding: 6%;        
           font-size: 1rem;
       }
      
       .row-8 p{
         
               color: white;
               padding: 2%;
           }
           .jumbotron {
               font-size: 1rem;
               width: 87%;
               margin-right: auto;
               margin-left: auto;
               color: white;
               padding: 2rem 1rem;
               margin-bottom: 2rem;
               background-color: #3d4142de;
               border-radius: 1.3rem;
               box-shadow: -1px 1px 14px 0px #00bFF0;
           }
         
        
         
           .row-9 p {
               margin-top: -100px;
               padding: 6%;
               color: white;
               font-size: 1rem;
           }
           .row-10 {
               padding-bottom: 20%;
               margin-top: -84px;
               font-weight: 500;
               color: white;
               padding: 6%;
               font-size: 1rem;
           }
        
              
               .row-11 {
                   font-size: 1rem;
                   /* margin-top: -102px; */
                   padding: 14%;
                   color: white;
                   text-align: center;
               }
             
              
         
        
           .row-12 {
               font-size: 1rem;
                color: white;
               padding: 6%;
           }
           .row.row-13 {
               padding: 6%;
               font-size: 1rem;
               display: -ms-flexbox;
               display: flex;
               -ms-flex-wrap: wrap;
               flex-wrap: wrap;
               margin-right: -15px;
               margin-left: -15px;
               flex-direction: row;
           }
     
       .row.row-14 {
           padding: 6%;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-wrap: wrap;
           flex-wrap: wrap;
           /* margin-right: -15px; */
           /* margin-left: -15px; */
           flex-direction: row;
           /* margin-top: 6%; */
       }
       .row.row-15 {display: none;}
       .row.row-16 {
        width: 100%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row.row-16 img{
        width: 100%;
    }
       .row.row-16.text {
        width: 50%;
        padding: 6%;
        color: #00BFF0;
      
        font-weight: 400;
        font-size: 1rem;
    }
    .row.row-17 {
        margin-top: -31px;
        padding: 6%;
        justify-content: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        font-weight: 400;
    } 
    .row.row-17 p {
        text-align: center;
        margin-top: -50px;
        width: 100%;
        margin-left: 6%;
        color: #00BFF0;
    }
       .row.row-18 {
                     margin-top: 18%;
               padding-left: 6%;
               width: 70%;
           
       }
       .list-group-item {
           font-size: 1.2rem;
           color: white;
           position: relative;
           display: block;
           padding: .75rem 4.25rem;
           background-color: #000000;
           border: 1px solid rgba(0,0,0,.125);
       }
    .list-group.list-group-flush {
     
           /* background: black; */
           margin-right: auto;
           margin-left: auto;
           /* justify-content: center; */
           width: 100%;
     
    }
    .row.row-19 {
       font-size: 1rem;
       display: flex;
       color: #00BFF0;
       padding: 4%;
       flex-direction: column;
   }
    a {
       color: #00bff0;
       text-decoration: none;
       background-color: transparent;
   }

   .footer { box-shadow: -1px -7px 7px 1px #00bff0ad;
       background-color: black;
       color: #F23580;
       padding: 20px;
       display: flex;
       justify-content: space-between;
   }
   
   /* Style for the left-side links */
   .footer-links {
       list-style: none;
       display: flex;
       flex-direction: column;
   }
   /* Style for individual links */
   .footer-links a {
       color: #F23580;
       text-decoration: none;
       margin-right: 20px;
       transition: text-decoration 0.3s; /* Add a smooth transition effect */
   }
   .footer-links a:hover {
       text-decoration: underline; /* Underline the link on hover */
       color: #00BFF0; /* Change the link color on hover */
   }
   /* Style for the image on the right side */
   .footer-image {
       max-width: 180px;
   }
   .footer-image p {
       color: grey;
       font-size: 12px;
       margin-top: -50px;
   }
}

@media screen and (min-width:480px) and (max-width:750px){

    body {
        background-color: black;
      }
      .menu-icon-img img {
          width: 46px;
      }
      .bg-dark {
          background-color: #000 !important;
      }
       .menu-icon-img {   width: 38px}
   
   
       .navbar {
      box-shadow: -1px 1px 14px 0px #00bFF0;
   
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1030;
       }
       .navbar-name {
      /* font-family: cinzel; */
      font-size: 1.2rem;
      color: #F23580;
       }
       .navbar-dark .navbar-toggler {
      color: rgba(255,255,255,.5);
      border-color: #000;/* border-color: rgba(255,255,255,.1); */
       }
       .navbar-nav .nav-item .nav-link {
      font-weight: 500;
      font-size: 1.1rem;
      color:#6e7175; /* Default link color */
      transition: color 0.3s; /* Add a smooth transition for color change */
       }
       .navbar-nav .nav-item .nav-link:hover {
      color: #00BFF0; /* Change the color to your desired hover color */
       }
    
       .h1, h1 {
        font-size: 1.4rem;
        color: #F23580;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .h2, h2 {
        padding: 4%;
        font-weight: 400;
        color: #00BFF0;
        font-size: 1rem;
    }
   
       .h3, h3 {
           /* padding: 6%; */
       font-weight: 500;
       font-family: cinzel;
       font-size: 1.6rem;
       margin-top: 8%;
       color: #F23580;
       padding-bottom: 6%;
   }
      
   
   
   
       .h5, h5 { color: #F23580;
       font-weight: 500;
       font-size: 1.8rem;
       }
       .row {
       font-size: 1rem;
       padding: 8%;
       color: white;
       }
       
       .row-1 {
        margin-top: 18%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        background-color: rgb(39 37 37 / 62%);
        padding: 6%;
        color: white;
    }
     
       .row-2 {
           margin-top: -656px;
           width: 100%;
           padding-left: 48%;
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
       }
       .col-md-2 {
        /* margin-left: 42%; */
        background-color: #80808038;
        padding: 34px;
        display: flex;
        -ms-flex: 0 0 16.666667%;
        border-radius: 1.3rem;
        box-shadow: -1px 1px 14px 0px #00bFF0;
        flex-direction: column;
        align-content: flex-end;
    }
       .col-md-4 {
           margin-top: 6%;
           width: 40%;
           margin-right: 0;
       
       }        
   
       .col-md-6-{
       background-color: #80808038;
           padding-bottom: 4%;
           font-weight: 500;
           font-size: 1.4rem;
           color: #00BFF0;
           width: 50%;
       }  
 
       
 
      .col-md-6.protopersona.img img{width: 86%;
       
      }
       .col-md-8 {
      width: 60%;
       }
       .h3, h3 {
        /* padding: 6%; */
        font-weight: 500;
        font-family: cinzel;
        font-size: 2.5rem;
        margin-top: 8%;
        color: #F23580;
        padding-bottom: 6%;
    }
       .col-md-8 iframe {
        width: 100%;
        padding: 2%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
   
       .row-5 {
           font-size: 1.2rem;
           font-weight: 500;
           margin-right: auto;
           margin-left: auto;
      padding: 6%;
           color: #65cbf9;
           width: 86%;
           text-align: center;
       }
       .row-6 {
           padding: 6%;
           color: white;
           display: flex;
           /* padding-top: 16%; */
           /* flex-direction: row; */
           justify-content: space-between;
       }
     .row-6-2 {
        padding: 6%;
        color: white;
     }
    
   .horizontal-scroll-container {
       border-radius: 16px;
       padding: 4%;
       margin-right: auto;
       margin-left: auto;
       width: 99%;
       /* display: flex; */
       overflow-x: auto;
       white-space: nowrap;
       scrollbar-width: thin;
       scrollbar-color: #888 #f0f0f0;
       box-shadow: -1px 1px 14px 0px #00bFF0;
   }
       .horizontal-scroll-container img {
           margin-top: -330px;
           /* padding: 4%; */
           max-width: 139%;
           /* height: auto; */
           /* margin-right: 10px; */
       }
       
      
       .row-7 {
           padding: 6%;
           font-size: 1rem;
       }
       
       .row-7 p {
          
               color: white;
               padding: 2%;
           }
       .row-8 {
           padding: 6%;
           margin-top: -100px;
           font-size: 1rem;
       }
      
       .row-8 p{
         
               color: white;
               padding: 2%;
           }
           .jumbotron {
               font-size: 1rem;
               width: 87%;
               margin-right: auto;
               margin-left: auto;
               color: white;
               padding: 2rem 1rem;
               margin-bottom: 2rem;
               background-color: #3d4142de;
               border-radius: 1.3rem;
               box-shadow: -1px 1px 14px 0px #00bFF0;
           }
         
        
         
           .row-9 p {
               margin-top: -100px;
               padding: 6%;
               color: white;
               font-size: 1rem;
           }
           .row-10 {
               padding-bottom: 20%;
               margin-top: -84px;
               font-weight: 500;
               color: white;
               padding: 6%;
               font-size: 1rem;
           }
        
              
               .row-11 {
                   font-size: 1rem;
                   /* margin-top: -102px; */
                   padding: 14%;
                   color: white;
                   text-align: center;
               }
             
              
         
        
           .row-12 {
               font-size: 1rem;
               margin-top: -113px;
               color: white;
               padding: 6%;
           }
           .row.row-13 {
               padding: 6%;
               font-size: 1rem;
               display: -ms-flexbox;
               display: flex;
               -ms-flex-wrap: wrap;
               flex-wrap: wrap;
               margin-right: -15px;
               margin-left: -15px;
               flex-direction: row;
           }
     
       .row.row-14 {
           padding: 6%;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-wrap: wrap;
           flex-wrap: wrap;
           /* margin-right: -15px; */
           /* margin-left: -15px; */
           flex-direction: row;
           /* margin-top: 6%; */
       }
       .row.row-15 {display: none;}
       .row.row-16 {
        width: 100%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row.row-16 img{
        width: 100%;
    }
       .row.row-16.text {
        width: 50%;
        padding: 6%;
        color: #00BFF0;
        margin-top: -333px;
        font-weight: 400;
        font-size: 1rem;
    }
    .row.row-17 {
        margin-top: -31px;
        padding: 6%;
        justify-content: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        font-weight: 400;
    } .row.row-17 p {
        text-align: center;
        margin-top: -80px;
        width: 100%;
        margin-left: 6%;
        color: #00BFF0;
    }
       .row.row-18 {
                     margin-top: 18%;
               padding-left: 6%;
               width: 70%;
           
       }
       .list-group-item {
           font-size: 1.2rem;
           color: white;
           position: relative;
           display: block;
           padding: .75rem 4.25rem;
           background-color: #000000;
           border: 1px solid rgba(0,0,0,.125);
       }
    .list-group.list-group-flush {
     
           /* background: black; */
           margin-right: auto;
           margin-left: auto;
           /* justify-content: center; */
           width: 100%;
     
    }
    .row.row-19 {
       font-size: 1rem;
       display: flex;
       color: #00BFF0;
       padding: 4%;
       flex-direction: column;
   }
    a {
       color: #00bff0;
       text-decoration: none;
       background-color: transparent;
   }

   .footer { box-shadow: -1px -7px 7px 1px #00bff0ad;
       background-color: black;
       color: #F23580;
       padding: 20px;
       display: flex;
       justify-content: space-between;
   }
   
   /* Style for the left-side links */
   .footer-links {
       list-style: none;
       display: flex;
       flex-direction: column;
   }
   /* Style for individual links */
   .footer-links a {
       color: #F23580;
       text-decoration: none;
       margin-right: 20px;
       transition: text-decoration 0.3s; /* Add a smooth transition effect */
   }
   .footer-links a:hover {
       text-decoration: underline; /* Underline the link on hover */
       color: #00BFF0; /* Change the link color on hover */
   }
   /* Style for the image on the right side */
   .footer-image {
       max-width: 80px;
   }
   .footer-image p {
       color: grey;
       font-size: 12px;
       margin-top: -50px;
   }
}
    
    


@media screen and (min-width: 751px) and (max-width:1023px){
 
                   
       
    body {
        background-color: black;
      }
      .menu-icon-img img {
          width: 46px;
      }
      .bg-dark {
          background-color: #000 !important;
      }
       .menu-icon-img {   width: 38px}
   
   
       .navbar {
      box-shadow: -1px 1px 14px 0px #00bFF0;
   
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1030;
       }
       .navbar-name {
      /* font-family: cinzel; */
      font-size: 1.2rem;
      color: #F23580;
       }
       .navbar-dark .navbar-toggler {
      color: rgba(255,255,255,.5);
      border-color: #000;/* border-color: rgba(255,255,255,.1); */
       }
       .navbar-nav .nav-item .nav-link {
      font-weight: 500;
      font-size: 1.1rem;
      color:#6e7175; /* Default link color */
      transition: color 0.3s; /* Add a smooth transition for color change */
       }
       .navbar-nav .nav-item .nav-link:hover {
      color: #00BFF0; /* Change the color to your desired hover color */
       }
    
       .h1, h1 {
        font-size: 1.4rem;
        color: #F23580;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .h2, h2 {
        padding: 4%;
        font-weight: 400;
        color: #00BFF0;
        font-size: 1rem;
    }
   
       .h3, h3 {
           /* padding: 6%; */
       font-weight: 500;
       font-family: cinzel;
       font-size: 2.5rem;
       margin-top: 8%;
       color: #F23580;
       padding-bottom: 6%;
   }
      
   
   
   
       .h5, h5 { color: #F23580;
       font-weight: 500;
       font-size: 1.8rem;
       }
       .row {
       font-size: 1rem;
       padding: 8%;
       color: white;
       }
       
       .row-1 {
        margin-top: 12%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        background-color: rgb(39 37 37 / 62%);
        padding: 6%;
        color: white;
    }
     
       .row-2 {
           margin-top: -656px;
           width: 100%;
           padding-left: 48%;
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
       }
       .col-md-2 {
        /* margin-left: 42%; */
        background-color: #80808038;
        padding: 34px;
        display: flex;
        -ms-flex: 0 0 16.666667%;
        border-radius: 1.3rem;
        box-shadow: -1px 1px 14px 0px #00bFF0;
        flex-direction: column;
        align-content: flex-end;
    }
       .col-md-4 {
           margin-top: -30px;
           width: 40%;
           margin-right: 0;
       
       }        
   
       .col-md-6-{
       background-color: #80808038;
           padding-bottom: 4%;
           font-weight: 500;
           font-size: 1.4rem;
           color: #00BFF0;
           width: 50%;
       }  
 
       
 
      .col-md-6.protopersona.img img{width: 86%;
       
      }
       .col-md-8 {
      width: 60%;
       }
       .h3, h3 {
        /* padding: 6%; */
        font-weight: 500;
        font-family: cinzel;
        font-size: 2.5rem;
        margin-top: 8%;
        color: #F23580;
        padding-bottom: 6%;
    }
       .col-md-8 iframe {
        width: 100%;
        padding: 2%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
   
       .row-5 {
           font-size: 1.2rem;
           font-weight: 500;
           margin-right: auto;
           margin-left: auto;
      padding: 6%;
           color: #65cbf9;
           width: 86%;
           text-align: center;
       }
       .row-6 {
           padding: 6%;
           color: white;
           display: flex;
           /* padding-top: 16%; */
           /* flex-direction: row; */
           justify-content: space-between;
       }
     .row-6-2 {
        padding: 6%;
        color: white;
     }
    
   .horizontal-scroll-container {
       border-radius: 16px;
       padding: 4%;
       margin-right: auto;
       margin-left: auto;
       width: 99%;
       /* display: flex; */
       overflow-x: auto;
       white-space: nowrap;
       scrollbar-width: thin;
       scrollbar-color: #888 #f0f0f0;
       box-shadow: -1px 1px 14px 0px #00bFF0;
   }
       .horizontal-scroll-container img {
           margin-top: -330px;
           /* padding: 4%; */
           max-width: 139%;
           /* height: auto; */
           /* margin-right: 10px; */
       }
       
      
       .row-7 {
           padding: 6%;
           font-size: 1rem;
       }
       
       .row-7 p {
          
               color: white;
               padding: 2%;
           }
       .row-8 {
           padding: 6%;
           margin-top: -100px;
           font-size: 1rem;
       }
      
       .row-8 p{
         
               color: white;
               padding: 2%;
           }
           .jumbotron {
               font-size: 1rem;
               width: 87%;
               margin-right: auto;
               margin-left: auto;
               color: white;
               padding: 2rem 1rem;
               margin-bottom: 2rem;
               background-color: #3d4142de;
               border-radius: 1.3rem;
               box-shadow: -1px 1px 14px 0px #00bFF0;
           }
         
        
         
           .row-9 p {
               margin-top: -100px;
               padding: 6%;
               color: white;
               font-size: 1rem;
           }
           .row-10 {
               padding-bottom: 20%;
               margin-top: -84px;
               font-weight: 500;
               color: white;
               padding: 6%;
               font-size: 1rem;
           }
        
              
               .row-11 {
                   font-size: 1rem;
                   /* margin-top: -102px; */
                   padding: 14%;
                   color: white;
                   text-align: center;
               }
             
              
         
        
           .row-12 {
               font-size: 1rem;
               margin-top: -113px;
               color: white;
               padding: 6%;
           }
           .row.row-13 {
               padding: 6%;
               font-size: 1rem;
               display: -ms-flexbox;
               display: flex;
               -ms-flex-wrap: wrap;
               flex-wrap: wrap;
               margin-right: -15px;
               margin-left: -15px;
               flex-direction: row;
           }
     
       .row.row-14 {
           padding: 6%;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-wrap: wrap;
           flex-wrap: wrap;
           /* margin-right: -15px; */
           /* margin-left: -15px; */
           flex-direction: row;
           /* margin-top: 6%; */
       }
       .row.row-15 {display: none;}
       .row.row-16 {
        width: 100%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row.row-16 img{
        width: 100%;
    }
       .row.row-16.text {
        width: 50%;
        padding: 6%;
        color: #00BFF0;
        margin-top: -333px;
        font-weight: 400;
        font-size: 1rem;
    }
    .row.row-17 {
        margin-top: -31px;
        padding: 6%;
        justify-content: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        font-weight: 400;
    } .row.row-17 p {
        text-align: center;
        margin-top: -80px;
        width: 100%;
        margin-left: 6%;
        color: #00BFF0;
    }
       .row.row-18 {
                     margin-top: 18%;
               padding-left: 6%;
               width: 70%;
           
       }
       .list-group-item {
           font-size: 1.2rem;
           color: white;
           position: relative;
           display: block;
           padding: .75rem 4.25rem;
           background-color: #000000;
           border: 1px solid rgba(0,0,0,.125);
       }
    .list-group.list-group-flush {
     
           /* background: black; */
           margin-right: auto;
           margin-left: auto;
           /* justify-content: center; */
           width: 100%;
     
    }
    .row.row-19 {
       font-size: 1rem;
       display: flex;
       color: #00BFF0;
       padding: 4%;
       flex-direction: column;
   }
    a {
       color: #00bff0;
       text-decoration: none;
       background-color: transparent;
   }

   .footer { box-shadow: -1px -7px 7px 1px #00bff0ad;
       background-color: black;
       color: #F23580;
       padding: 20px;
       display: flex;
       justify-content: space-between;
   }
   
   /* Style for the left-side links */
   .footer-links {
       list-style: none;
       display: flex;
       flex-direction: column;
   }
   /* Style for individual links */
   .footer-links a {
       color: #F23580;
       text-decoration: none;
       margin-right: 20px;
       transition: text-decoration 0.3s; /* Add a smooth transition effect */
   }
   .footer-links a:hover {
       text-decoration: underline; /* Underline the link on hover */
       color: #00BFF0; /* Change the link color on hover */
   }
   /* Style for the image on the right side */
   .footer-image {
       max-width: 180px;
   }
   .footer-image p {
       color: grey;
       font-size: 12px;
       margin-top: -50px;
   }
   
    }

@media screen and (min-width:1024px ){
                
       
    body {
     background-color: black;
   }
   .menu-icon-img img {
       width: 46px;
   }
   .bg-dark {
       background-color: #000 !important;
   }
    .menu-icon-img {   width: 38px}


    .navbar {
   box-shadow: -1px 1px 14px 0px #00bFF0;

   width: 100%;
   top: 0;
   left: 0;
   z-index: 1030;
    }
    .navbar-name {
   /* font-family: cinzel; */
   font-size: 1.2rem;
   color: #F23580;
    }
    .navbar-dark .navbar-toggler {
   color: rgba(255,255,255,.5);
   border-color: #000;/* border-color: rgba(255,255,255,.1); */
    }
    .navbar-nav .nav-item .nav-link {
   font-weight: 500;
   font-size: 1.1rem;
   color:#6e7175; /* Default link color */
   transition: color 0.3s; /* Add a smooth transition for color change */
    }
    .navbar-nav .nav-item .nav-link:hover {
   color: #00BFF0; /* Change the color to your desired hover color */
    }
    .navbar-expand-lg .navbar-collapse {
   display: -ms-flexbox!important;
   display: flex!important;
   -ms-flex-preferred-size: auto;
   flex-basis: auto;
   justify-content: flex-end;
    }

.h1, h1 {
    font-size: 1.6rem;
    color: #F23580;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    }
    .h2, h2 {
    padding: 4%;
   
    font-weight: 500;
    color:#00BFF0;    
    font-size: 1.3rem;
    }

    .h3, h3 {
        /* padding: 6%; */
    font-weight: 500;
    font-family: cinzel;
    font-size: 3rem;
    margin-top: 8%;
    color: #F23580;
    padding-bottom: 6%;
}
   



    .h5, h5 { color: #F23580;
    font-weight: 500;
    font-size: 1.8rem;
    }
   
    .row-1 {
    margin-top: 8%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    background-color: rgb(39 37 37 / 62%);
    padding: 6%;
    color: white;
    }
 
  
    .row-2 {
        margin-top: -656px;
        width: 100%;
        padding-left: 48%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .col-md-2 {
        background-color:#80808038;
        padding: 20px;
        margin-right: 9%;
        /* margin-left: -2%; */
        display: flex;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 29.666667%;
        border-radius: 1.3rem;
        box-shadow: -1px 1px 14px 0px #00bFF0;
        flex-direction: column;
        align-content: flex-end;
    }
    .col-md-4 {
        margin-top: -30px;
        width: 40%;
        margin-right: 0;
    
    }        
    .col-md-6-{
    background-color: #80808038;
        padding-bottom: 4%;
        font-weight: 500;
        font-size: 1.4rem;
        color: #00BFF0;
    }  
    .col-md-6 p {
        color: white;
    }   
    .col-md-6 img {
    
    width: 100%;
    /* padding-left: 23%; */
    justify-content: center;
    }
    .col-md-6-img img {
    /* margin-top: -10%; */
    width: 62%;
    margin-left: -6%;
    }
    .col-md-8 {
    margin-left: auto;
    }
    .h3, h3 {
    /* padding: 6%; */
    font-weight: 500;
    font-family: cinzel;
    font-size: 3rem;
    margin-top: 8%;
    color: #F23580;
    padding-bottom: 6%;
    }
    .col-md-8 iframe{width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    }
   
    .row-5 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: auto;
        margin-left: auto;
   
        color: #65cbf9;
        width: 86%;
        text-align: center;
    }
    .row-6 {
        padding: 6%;
        color: white;
        display: flex;
        /* padding-top: 16%; */
        /* flex-direction: row; */
        justify-content: space-between;
    }
  
    .row-6-2 {
        margin-left: 2%;
        margin: -left;
        margin-top: -252px;
        padding-right: 5%;
        color: white;
        display: flex;
        justify-content: flex-end;
    }
.horizontal-scroll-container {
    border-radius: 16px;
    padding: 4%;
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    /* display: flex; */
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
    box-shadow: -1px 1px 14px 0px #00bFF0;
}
    .horizontal-scroll-container img {
        margin-top: -330px;
        /* padding: 4%; */
        max-width: 139%;
        /* height: auto; */
        /* margin-right: 10px; */
    }
    
   
    .row-7 {
        padding: 6%;
        font-size: 1.2rem;
    }
    
    .row-7 p {
       
            color: white;
            padding: 2%;
        }
    .row-8 {
        padding: 6%;
        margin-top: -100px;
        font-size: 1.2rem;
    }
   
    .row-8 p{
      
            color: white;
            padding: 2%;
        }
        .jumbotron {
            font-size: 1.2rem;
            width: 87%;
            margin-right: auto;
            margin-left: auto;
            color: white;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-color: #3d4142de;
            border-radius: 1.3rem;
            box-shadow: -1px 1px 14px 0px #00bFF0;
        }
      
     
      
        .row-9 p {
            margin-top: -100px;
            padding: 6%;
            color: white;
            font-size: 1.2rem;
        }
        .row-10 {
            padding-bottom: 20%;
        }
     
            .row-10 p {
                margin-top: -84px;
                font-weight: 500;
                color: white;
                padding: 6%;
                font-size: 1.2rem;
            }
            .row-11 {
                font-size: 1.2rem;
                /* margin-top: -102px; */
                padding: 14%;
                color: white;
                text-align: center;
            }
          
           
      
     
        .row-12 {
            font-size: 1.2rem;
            margin-top: -113px;
            color: white;
            padding: 6%;
        }
        .row.row-13 {
            padding: 6%;
            font-size: 1.2rem;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            flex-direction: row;
        }
  
    .row.row-14 {
        padding: 6%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /* margin-right: -15px; */
        /* margin-left: -15px; */
        flex-direction: row;
        /* margin-top: 6%; */
    }
    .row.row-14 iframe{
     
            width: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        

    }
    .row.row-15 img{
       
            margin-left:52%;
            /* padding-left: 8%; */
            width: 8%;
        
    }
    .row.row-16 {
        /* width: 100%; */
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    .row.row-16.text {
        width: 38%;
        padding: 2%;
        color: #00BFF0;
        margin-top: -459px;
        font-weight: 400;
        font-size: 1.1rem;
    }
 .row.row-17 {
    margin-top: 6%;
    padding: 6%;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    font-weight: 400;
}
.row.row-17 p {
    color: #00BFF0;
    text-align: center;
    margin-top: -150px;
    width: 100%;
 
}
    .row.row-17 img{
       
            margin-top: -162px;
            width: 100%;
       
    }
    .row.row-18 {
                  margin-top: 18%;
            padding-left: 6%;
            width: 70%;
        
    }
    .list-group-item {
        font-size: 1.2rem;
        color: white;
        position: relative;
        display: block;
        padding: .75rem 4.25rem;
        background-color: #000000;
        border: 1px solid rgba(0,0,0,.125);
    }
 .list-group.list-group-flush {
  
        /* background: black; */
        margin-right: auto;
        margin-left: auto;
        /* justify-content: center; */
        width: 100%;
  
 }
 .row.row-19 {
    font-size: 1rem;
    display: flex;
    color: #00BFF0;
    padding: 4%;
    flex-direction: column;
}
 a {
    color: #00bff0;
    text-decoration: none;
    background-color: transparent;
}
 .container-fluid,  {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
}
.footer { box-shadow: -1px -7px 7px 1px #00bff0ad;
    background-color: black;
    color: #F23580;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Style for the left-side links */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* Style for individual links */
.footer-links a {
    color: #F23580;
    text-decoration: none;
    margin-right: 20px;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}
.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
/* Style for the image on the right side */
.footer-image {
    max-width: 180px;
}
.footer-image p {
    color: grey;
    font-size: 12px;
    margin-top: -50px;
}



}
